<ng-template #templateForm>
  <form #form="ngForm" (submit)="submit()" novalidate>
    <div class="row">
      <div class="col-12 my-4">
        <div class="text-center">
          <h3 [translate]="'CandidacyForm'"></h3>
        </div>
      </div>
    </div>
    <div>
      <p class="card-text mb-3">
        (*) <span [translate]="'CandidacyPeriod'" [translateParams]="model.electionEvent.specification"></span>
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">
          <span [translate]="'FirstName'"></span>&nbsp;<span [translate]="'RequiredHelp'"></span>
        </label>
        <input maxlength="80" type="text" class="form-control" id="firstName" name="firstName"
          [(ngModel)]="model.object.givenName" #firstName="ngModel" placeholder="" value="" [required]="true">
        <div class="text-danger" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
          <div *ngIf="firstName.errors.required">
            <small [translate]="'RequiredError'"></small>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">
          <span [translate]="'LastName'"></span>&nbsp;<span [translate]="'RequiredHelp'"></span>
        </label>
        <input maxlength="80" type="text" class="form-control" id="lastName" name="lastName" placeholder=""
          [required]="true" [(ngModel)]="model.object.familyName" #lastName="ngModel">
        <div class="text-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
          <div *ngIf="lastName.errors.required">
            <small [translate]="'RequiredError'"></small>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">
        <span>Email</span>&nbsp;<span [translate]="'RequiredHelp'"></span>
      </label>
      <input maxlength="80" type="email" [pattern]="'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$'" [required]=true
        class="form-control" id="email" [(ngModel)]="model.object.address.email" name="email" #email="ngModel"
        placeholder="you@example.com">
      <small class="form-text text-muted" [translate]="'EmailHelp'"></small>
      <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <small *ngIf="email.errors.pattern" [translate]="'EmailInvalid'"></small>
        <div *ngIf="email.errors.required">
          <small [translate]="'RequiredError'"></small>
        </div>
      </div>
    </div>
    <div class="row d-none">
      <div class="col-md-6 mb-3">
        <label for="image">
          <span [translate]="'Photo'"></span>&nbsp;<span [translate]="'OptionalHelp'"></span>
        </label>
        <input maxlength="80" type="file" class="form-control dropzone" appDropzone id="image" name="image"
          [(ngModel)]="model.object.image" #photo="ngModel" placeholder="" value="" [required]="false">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="jobTitle">
          <span [translate]="'JobTitle'"></span>&nbsp;<span [translate]="'OptionalHelp'"></span>
        </label>
        <input maxlength="80" type="text" class="form-control" id="jobTitle" name="jobTitle"
          [(ngModel)]="model.object.jobTitle" #jobTitle="ngModel" placeholder="" value="" [required]="false">
      </div>
    </div>
    <div class="mb-3">
      <label for="description">
        <span [translate]="'CandidacyDescription'"></span>&nbsp;<span [translate]="'OptionalHelp'"></span>
      </label>
      <textarea maxlength="1024" class="form-control" style="resize: none;" maxlength="1024" rows="10"
        name="description" id="description" [(ngModel)]="model.shortDescription" #description="ngModel"></textarea>
      <small class="form-text">
        {{(model.shortDescription && model.shortDescription.length) || 0}}/1024
      </small>
      <small class="form-text text-muted" [translate]="'CandidacyDescriptionHelp'"></small>
      <div class="invalid-feedback">

      </div>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" [required]="true" class="form-check-input" id="agreeData" name="agreeData"
          [(ngModel)]="model.agreeData" #agreeData="ngModel">
        <label class="form-check-label" for="agreeData">
          <span [translate]="'AgreeData'"></span>&nbsp;<span [translate]="'RequiredHelp'"></span></label>
      </div>
    </div>
    <div class="mb-3" *ngIf="showShareEmail">
      <div class="form-check">
        <input type="checkbox" [required]="false" class="form-check-input" id="shareEmail" name="shareEmail"
          [(ngModel)]="model.shareEmail" #shareEmail="ngModel">
        <label class="form-check-label" for="shareEmail">
          <span [translate]="'ShareEmail'"></span> &nbsp;<span [translate]="'OptionalHelp'"></span>
        </label>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" [required]="true" class="form-check-input" id="agreeTerms" name="agreeTerms"
          [(ngModel)]="model.agreeTerms" #agreeTerms="ngModel">
        <label class="form-check-label" for="agreeTerms">
          <span [translate]="'AgreeTerms'"></span> &nbsp;<span [translate]="'RequiredHelp'"></span>
        </label>
      </div>
    </div>
    <div class="mb-3">
      <p [translate]="'FormSubmitHelp'"></p>
    </div>
    <button [lang]="_translateService.currentLang" [disabled]="form.invalid" class="btn btn-primary btn-lg btn-block"
      type="submit" [translate]="'Apply'"></button>
  </form>
</ng-template>

<ng-template #templateSubmitted>
  <div class="text-center mt-5">
    <div>
      <i class="fa fa-2x bg-success p-4 rounded-circle text-white fa-check"></i>
    </div>
    <p class="card-text mt-3" [translate]="'SubmitVoteCompleted'">
    </p>
  </div>
</ng-template>

<ng-template #templateInvalidPeriod>
  <div class="text-center mt-5">
    <div>
      <i class="fa fa-2x bg-danger p-4 rounded-circle text-white fa-times" style="width:80px"></i>
    </div>
    <p class="card-text mt-3">
      <span [translate]="'InvalidCandidacyPeriod'"></span>&nbsp;
      <span [translate]="'CandidacyPeriod'" [translateParams]="model.electionEvent.specification"></span>
    </p>
  </div>
</ng-template>

<ng-template #templateError>
  <div class="text-center mt-5">
    <div>
      <i class="fa fa-2x bg-danger p-4 rounded-circle text-white fa-times" style="width:80px"></i>
    </div>
    <div class="card-text mt-3">
      <h5 [translate]="'E' + (lastError.status || lastError.statusCode || 500) + '.title'"></h5>
      <span [translate]="'E' + (lastError.status || lastError.statusCode || 500) + '.message'"></span>
    </div>
  </div>
</ng-template>

<ng-container>
  <ng-container *ngTemplateOutlet="state"></ng-container>
</ng-container>