<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" [translate]="'Candidates'"></h5>
        <p class="card-text card-text-height-8" [translate]="'CandidatesDescription'">
        </p>
        <a [routerLink]="['../candidates/apply']" class="btn btn-primary" [translate]="'Continue'"></a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" [translate]="'Results'"></h5>
        <p class="card-text card-text-height-8" [translate]="'ResultsDescription'">
        </p>
        <a [routerLink]="['../results']" class="btn btn-primary" [translate]="'Continue'"></a>
      </div>
    </div>
  </div>
</div>