<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-0 box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal" [translate]="'Application.Title'"></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark d-none" href="#" [translate]="'Features'"></a>
    <a class="p-2 text-dark d-none" href="#" [translate]="'Support'"></a>
  </nav>
  <button [lang]="_translateService.currentLang" [disabled]="true" class="btn btn-outline-primary" href="#"
    [translate]="'Signup'"></button>
</div>


<div class="container">

  <router-outlet></router-outlet>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <span [translate]="'Application.Title'"></span>
        <small class="d-block mb-3 text-muted">&copy; 2020</small>
      </div>
      <div class="text-right col-12 col-md">
        <h5 [translate]="'About'"></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#" [translate]="'Privacy'"></a></li>
          <li><a class="text-muted" href="#" [translate]="'Terms'"></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>